*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom, #e602e6, #03f5fd);
    justify-content: center;
    align-items: center;
    display: flex;    
}

    .Main-container{
        background-color: rgb(0, 0, 0);
        justify-content: center;
        align-items: center;
        margin: 0;
        
    }

    .container{
        text-align: center;
        margin-top: 130px;
        margin-bottom: 20px; 

    }

    .container h1{
    font-size: 30px;
    font: bold;
    margin-bottom: 20px;
    color: #7d0cbe;

}
.container p{
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    
}

.counting{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    margin-bottom: 20px;
    color: rgb(250, 248, 248);
    
}
.box{
    flex: 1;
    margin-left: 20px;
    background: none;
    padding: 10px 40px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #801eb9;
    
    

}
.box span{
    display: block;
    font-size: 22px;
    font-weight: bold;
    padding: 1px;
    text-align: center;
    color: #fff;
    

}
.box small{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: rgb(218, 209, 209);
    

}
.social{
    margin: 20px;
    text-align: center;
}
img{
    width: 40px;
}

.social a{
    display: inline-block;
    padding: 8px 10px;
    background: #633494;
    color: black;
    border-radius: 5px;
    font-size: 10px;
    margin-bottom: 10px;

}
footer{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 50px;
    color: #bbb; 
    text-align: center;

}
.span-1{
    color: #6a11cb;
}





